.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #ccc solid;
    border-radius: 25px;
    padding: 30px;
    background-color: #eaf2f8;
}

.loginForm input,
.loginForm button {
    margin: 10px 0; /* Adjust margin as needed */
    border-radius: 5px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

/* Change the background color on hover */
.button:hover {
    background-color: #45a049; /* Darker green */
}

.input {
    padding: 10px 25px;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px;
    background-color: #fff; /* White background */
    transition: border-color 0.3s; /* Add transition for border color */
}

.input:focus {
    border-color: #4CAF50; /* Green */
}
