.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9d9d9d;
    padding: 5px;
    font-size: 25px;
    align-items: center;
}

.headerTitle {
    color: #eaf2f8;
}

.headerPages {
    font-size: 15px;
}

.signOutButton:hover, .link:hover {
    color: #ccc;
}

.headerPaging {
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding-inline-start: 0;
}

.signOutButton {
    background-color: transparent;
    border: none;
    transition: color 0.3s;
}

.link, .signOutButton {
    color: #fff;
    text-decoration: none;
    margin: 15px 0;
    font-size: 20px;
    cursor: pointer;
}

.menuToggle {
    background-color: transparent;
    border: none;
    color: #eaf2f8;
    font-size: 25px;
    cursor: pointer;
    display: block; /* Ensure it's always visible */
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #eaf2f8;
    margin: 6px 0;
    transition: 0.4s;
}

.fullScreenMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Gray out the background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.closeMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

/* Hide .menuToggle when menu is open */
.header .menuOpen + .menuToggle {
    display: none;
}

