.mainContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes at least the viewport height */
}

.page {
    display: flex;
    justify-content: center;
    flex: 1;
}