.mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px #ccc solid;
    border-radius: 25px;
    margin-top: 20px;
    padding: 20px;
    background-color: #eaf2f8;
}

.title {
    align-self: center;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.fieldContent {
    display: flex;
    align-items: center;
}

.errorMessage {
    margin-left: 10px; /* Add space between Field and ErrorMessage */
    color: red; /* Adjust the color of the error message */
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
    margin: 20px; /* Adjust margin as needed */
    border-radius: 5px;
    align-self: center;
}

/* Change the background color on hover */
.button:hover {
    background-color: #45a049; /* Darker green */
}