.eventContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #ccc solid;
    border-radius: 25px;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    background-color: #eaf2f8;
}

.eventTitle {
    display: block; /* Make it a block-level element */
    text-align: center;
    background-color: #9d9d9d;
    color: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px; /* Adjust padding as needed */
    width: 100%; /* Stretch to the width of the parent */
}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
    margin: 10px 0; /* Adjust margin as needed */
    border-radius: 5px;
}

/* Change the background color on hover */
.button:hover {
    background-color: #45a049; /* Darker green */
}

.editButton{
    background-color: #4CAF50; /* Green */
}

.editButton:hover {
    background-color: #45a049; /* Darker green */
}

.deleteButton{
    background-color: #d11a2a; /* Green */
}

.deleteButton:hover {
    background-color: #86111a; /* Darker green */
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 20px
}